
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form asp-action="Index" asp-controller="Home" method="post">
        <h3 style="color:darkblue">DZ DI</h3>
        <label>Message: </label>
        <input name="message"  placeholder="Enter Message..."/>
        <br />
        <br />
        <button type="submit">Send</button>
    </form>
</body>
</html>
